<div class="main-div">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(f)" #f="ngForm" >



            <div class="row">

                <div class="form-group col-md-6">
                    <label class="col-form-label">הכנס טקסט לשליחה בהודעה SMS</label>
                    <textarea class="form-control" formControlName="sms_text" id="sms_text" rows="5" required></textarea>
                </div>

            </div>



        <div class="form-group col-md-6" style="text-align: left !important;">
            <button [disabled]="!f.valid" type="submit"
                    class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                    style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
            </button>
        </div>

    </form>

    <div class="row" *ngIf="errors.length > 0">
        <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
    </div>

</div>






