<div class="row FormClass">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                ערוך חברה
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
                    <div class="row">
                        <div class="form-group" class="col-lg-12">
                            <label for="formGroupExampleInput">הכנס שם חברה </label>
                            <input type="text" class="form-control textWhite" [(ngModel)]="Company.name"
                                   id="formGroupExampleInput" name="name" ngModel required>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group" class="col-lg-6">
                            <label for="formGroupExampleInput">הכנס כתובת </label>
                            <input type="text" class="form-control textWhite" [(ngModel)]="Company.address"
                                   id="formGroupExampleInput" name="address"
                                   ngModel>
                        </div>
                        <div class="form-group" class="col-lg-6">
                            <label for="formGroupExampleInput2">הכנס טלפון</label>
                            <input type="text" class="form-control textWhite" [(ngModel)]="Company.phone"
                                   id="formGroupExampleInput2" name="phone"
                                   ngModel>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group" class="col-lg-6">
                            <label for="formGroupExampleInput">הזן סיסמה</label>
                            <input type="text" class="form-control textWhite" [(ngModel)]="Company.password"
                                   id="formGroupExampleInput" name="pass" ngModel>
                        </div>
                        <div class="form-group" class="col-lg-6">
                            <label for="formGroupExampleInput2">הכנס אימייל</label>
                            <input type="text" class="form-control textWhite" [(ngModel)]="Company.email"
                                   id="formGroupExampleInput2" name="email" ngModel required email>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group" class="col-lg-6">
                            <label for="formGroupExampleInput">מחיר מנה</label>
                            <input type="text" class="form-control textWhite" [(ngModel)]="Company.company_price"
                                   id="formGroupExampleInput" name="web"
                                   ngModel>
                        </div>
                        <div class="form-group" class="col-lg-6">

                        </div>
                    </div>

                    <hr>
                    <div>
                        <p>מטבחים השייכים לחברה</p>
                        <label class="KitchensForm custom-control custom-radio" style="overflow: hidden; margin-right: 50px;">
                            <label class="form-check-label" *ngFor="let kitchen of Kitchens let i=index"  style="margin-right: 20px;">
                                <input type="checkbox" name="kitchen"  (change)="changeKitchen(kitchen.index)" [checked]="checkKitchen(i) == 1" class="formCheck"  style="background-color: red !important;">
                                <span style="position: relative; left: 30px; margin-top: -5px;">{{kitchen.name}}</span>
                            </label>
                        </label>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="form-group" class="col-lg-12">
                            <label for="formGroupExampleInput">פרטים נוספים</label>
                            <textarea rows="4" cols="50" class="form-control textWhite" id="formGroupExampleInput" [(ngModel)]="Company.desc" name="description" ngModel required> </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <label class="uploader">
                            <img [src]="imageSrc" [class.loaded]="imageLoaded" style="width: 100px;"/>
                            <input type="file" name="file" accept="image/*" (change)="handleInputChange($event)">
                        </label>
                    </div>
                    <div class="row" align="left" style="float: left; margin-left: 5px">
                        <button [disabled]="!f.valid" type="submit"
                                class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                                style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                            <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
                        </button>
                    </div>
                </form>


                <!-- <img src="{{imageSrc}}" style="width: 100%" /> <div class="row" align="left"  style="float: left; margin-left: 5px">
                     <button type="button"  class="btn btn-primary btn-icon loading-demo mr-1 mb-1" style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                         <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
                     </button>
                 </div>-->
            </div>
        </div>
    </div>
</div>