<div class="row FormClass">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
       הוסף סניף
      </div>
      <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit(f)" #f="ngForm" >
          <div class="row" >
            <div class="form-group" class="col-lg-6" *ngFor="let row of rows let i=index" style="margin-top: 15px;">
              <label >הכנס {{rowsNames[i]}} </label>
              <input type="text" class="form-control textWhite" formControlName="{{row}}" id="{{row}}" name="{{row}}"  required>
            </div>
            <div class="form-group" class="col-lg-6"  style="margin-top: 15px;">
              <label >הכנס כתובת </label>
              <input type="text" class="form-control textWhite" autocorrect="off" autocapitalize="off" spellcheck="off" #search formControlName="address" id="address" name="address"  required>
            </div>
          </div>



            <div class="row" align="left" style="float: left; margin-left: 5px">
              <button [disabled]="registerForm.invalid"  type="submit"
                      class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                      style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
              </button>
            </div>

        </form>

        <div class="row" *ngIf="errors.length > 0">
          <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
        </div>


      </div>
    </div>
  </div>
</div>