<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">

    <div class="col-lg-12 nopadding" style="margin-top: 10px;">
        <div class="row" style="direction: rtl; margin-left:0%;">
            <div class="col-lg-9 nopadding" style="margin-top: 10px;">
                <div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">
                    <input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי מספר טלפון" required (keyup)='updateFilter($event)'>
                </div>
            </div>


            <div class="col-lg-1 nopadding" style="margin-top: 26px;">
                <button (click)="gobacPage()" class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >
                    <div class="buttonDivText">
                        <span class="sideButtonTextEmpty">חזרה</span>
                    </div>
                    <div class="buttonDivIcon">
                        <i class="fa fa-chevron-left"></i>
                    </div>
                </button>
            </div>

        <ngx-datatable
                [headerHeight]="40"
                [footerHeight]="'false'"
                [rowHeight]="'auto'"
                [scrollbarH]="true"
                [columnMode]="'force'"
                [rows]="ItemsArray">

            <!-- Column Templates -->



            <ngx-datatable-column name="שם מלא"  [maxWidth]="180">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{row.user_info['name']}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="טלפון"  [maxWidth]="180">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{row.user_info['phone']}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="אימייל"  [maxWidth]="180">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{row.user_info['mail']}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="פרטי בנק"  [maxWidth]="180">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div><strong>שם בעל חשבון הבנק: {{row.user_info['accout_name']}}</strong></div>
                <div><strong>שם הבנק: {{row.user_info['bank_number']}}</strong></div>
                <div><strong>סניף: {{row.user_info['snif_number']}}</strong></div>
                <div><strong>מספר חשבון: {{row.user_info['bank_acoount_number']}}</strong></div>
                </ng-template>
            </ngx-datatable-column>



            <ngx-datatable-column name="תאריך תשלום"  [maxWidth]="180">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{row.created_at}}</strong>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="פעולות" [sortable]="false" [minWidth]="150" style="direction: ltr !important; text-align: left !important;" align="left">
                <ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">
                    <!-- <button type="button" class="btn btn-info" (click)="openDetailsModal(details, row)">פרטים</button> -->
                    <!-- <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, rowIndex)">מחק</button> -->
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>
<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">מחק בקשה</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">האם לאשר מחיקה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #details let-c="close" let-d="dismiss">
    <div style="width: 100%; margin-top: 20px;" align="center">
        <div style="width: 70%">
            <img src={{selectedItem.FullPath}} style="width: 70%" />
        </div>
    </div>
    <div>

    </div>
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right">{{selectedItem.title}}</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" style="direction: rtl">
        <div class="m-2">
            &nbsp;
            תת-קטגורייה : {{selectedItem.SubCategoryName}}

        </div>

        <div class="m-2">
            מחיר חדש : {{selectedItem.high_price}}&nbsp;  | &nbsp;
            מחיר ישן : {{selectedItem.low_price}}
        </div>

        <div class="m-2">
            <button type="button" class="btn btn-info btn-block" (click)="c()">סגור</button>
        </div>
    </div>
</ng-template>






<!--<ngx-datatable
        class="fullscreen"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="0"
        [rowHeight]="70"
        [scrollbarV]="true"
        [scrollbarH]="true"
        [rows]="ItemsArray">

  <ngx-datatable-column name="icons" >
    <ng-template let-column="column" ngx-datatable-header-template>
      actions
    </ng-template>
    <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
      <i class="fa fa-close IconClass" style="" (click)="DeleteItem()"></i>
      <a [routerLink]="['/', 'company' , 'edit' , { id: rowIndex, foo: 'foo' }]" class="navigation-link relative"><i class="fa fa-edit IconClassMt3" ></i></a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Subdomain">
    <ng-template   ngx-datatable-header-template><span >Subdomain</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Phone">
    <ng-template   ngx-datatable-header-template><span >מספר טלפון</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="email" [width]="300" >
    <ng-template   ngx-datatable-header-template><span >אימייל</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Address" [width]="300" style="padding-top:30px !important;" >
    <ng-template   ngx-datatable-header-template><span >כתובת</span></ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column  [width]="120" >
    <template let-row="row" let-value="value" ngx-datatable-cell-template>
      <img src="{{host}}{{row.logo}}" style="width:60px; height: 60px; margin-top: -13px;" />
    </template>
  </ngx-datatable-column>

</ngx-datatable> -->